<div class="card blue lighten-5" style="border-radius: 1rem; box-shadow: none">
  <div class="card-content">
    <table>
      <tbody>
        <tr>
          <td colspan="4" style="font-weight: bold">
            <a href="<%= item.url %>"> <%= item.name %> </a>
          </td>
        </tr>

        <% if (item.categories.length > 0) { %>
        <tr>
          <td colspan="4">
            <% item.categories.forEach(category => { %> <%-
            include('./category-chip',{category}) %> <% }) %>
          </td>
        </tr>
        <% } %> <% if (item.description) { %>
        <tr>
          <td colspan="4"><%= item.description %></td>
        </tr>
        <% } %>

        <tr>
          <th>Price</th>
          <td class="right-align">$<%= item.price %></td>
          <th>Stock</th>
          <td class="right-align"><%= item.number_in_stock %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
