<!DOCTYPE html>
<html>
  <%- include('./partials/head', {title}) %>
  <body class="grey lighten-4">
    <%- include('./partials/header', {title}) %>
    <div class="row">
      <div class="col m3"><%- include('./partials/sidenav') %></div>

      <div class="col s12 m9">
        <div class="col s12">
          <h1><%= title %></h1>
        </div>

        <div class="col s12">
          <% category_items.forEach(item => { %> 
          <%- include('./partials/item-card', {item}) %> 
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
