<!DOCTYPE html>
<html>
  <%- include('./partials/head', {title}) %>
  <body class="grey lighten-4">
    <%- include('./partials/header', {title}) %>
    <main>
      <div class="container">
        <%- include('./partials/sidenav') %>

        <div class="row">
          <div class="col s12 center-align">
            <h1 style="font-size: 4rem"><%= title %></h1>
          </div>
        </div>

        <div class="row">
          <div class="col s12 center-align">
            <a
              href="<%= category.url %>/update"
              style="width: 100%"
              class="btn blue"
              >Update</a
            >
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <a
              href="<%= category.url %>/delete"
              class="btn red"
              style="width: 100%"
              >Delete</a
            >
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <% if (category_items.length > 0) { %>
            <p class="center-align">Items belonging to this category</p>
            <% category_items.forEach(item=> { %> <%-
            include('./partials/item-card', {item}) %> <% })} else { %>
            <p class="center-align">
              There are no items belonging to this category.
            </p>
            <% } %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
