<!DOCTYPE html>
<html>
  <%- include('./partials/head', {title}) %>
  <body class="grey lighten-4">
    <%- include('./partials/header',{title}) %>
    <main>
      <div class="container">
        <%- include('./partials/sidenav') %><!---->

        <div class="row center-align">
          <div class="col s12">
            <h1><%= title %></h1>
          </div>
        </div>

        <div class="row center-align">
          <div class="col s12">
            <h2>Categories</h2>
          </div>

          <div class="col s12">
            <ul>
              <% categories.forEach(category => { %> <%-
              include('./partials/category-chip', {category}) %> <% }) %>
            </ul>
          </div>
        </div>

        <div class="row center-align">
          <div class="col s12">
            <h2>Items</h2>
          </div>

          <div class="col s12">
            <ul>
              <% items.forEach(item => { %>
              <li><%- include('./partials/item-card',{item}) %></li>
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="row"><%= error %></div>
      </div>
    </main>
  </body>
</html>
